body{
    font-family: 'Microsoft YaHei', Arial, sans-serif;
    background: #d7e1f1 url("https://github.com/Haohao123coding/main/blob/main/background.png") no-repeat center/cover;
    text-align: center;
    padding: 20px 0 0;
}

.announcement{
    color: #333;
}

.main-page{
    padding: 40px 0 60px;
    max-width: 1200px;
    margin: 0 auto; /* 水平居中 */
    background-color: #f2f2f2;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.btntp{
    background-color: #49e;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    height: 50px;
    transition: all 0.3s ease;
}

.btntp:hover{
    transform: translateY(-3px);
}

.btntp:active{
    transition-duration: 0.1s;
    background-color: #27c;
}
