body{
    font-family: 'Microsoft YaHei', Arial, sans-serif;
    background: #d7e1f1
    url("https://raw.githubusercontent.com/Haohao123coding/main/main/background.png")
    no-repeat center/cover;
    text-align: center;
    padding: 20px 0 0;
}

h1{
    color: #111;
    font-size: 32px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

h2{
    color: #333;
    margin-bottom: 30px;
}

.announcement{
    color: #222;
    padding: 20px 0 30px;
    max-width: 600px;
    margin: 0 auto; /* 水平居中 */
    background-color: #ccc;
    border-radius: 10px;
}

.announcement h1{
    color: #222;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}

.main-page, .blog-main-page{
    padding: 40px 0 60px;
    max-width: 1200px;
    margin: 0 auto; /* 水平居中 */
    background-color: #f2f2f2;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.btntp{
    background-color: #49e;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    height: 50px;
    transition: all 0.3s ease;
}

.btntp:hover{
    transform: translateY(-3px);
}

.btntp:active{
    transition-duration: 0.1s;
    background-color: #27c;
}
